<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ site.title }}{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    {% include './theme-style.twig' %}
</head>

<body>
{% block content %}{% endblock %}
{% include './theme-script.twig' %}
</body>

</html>

