{% extends "../components/pagelayout.twig" %}

{% block content %}
    <h1>demo</h1>
    <img
            alt="example of how we can include an image"
            src="assets/img/twig-js.png"
            id="twig-image"
    />
{% endblock %}
